<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/counter" routerLinkActive="active">counter</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/counter2" routerLinkActive="active">counter2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pet" routerLinkActive="active">pet</a>
    </li>
    <!--<li class="nav-item">-->
      <!--<a class="nav-link" routerLink="/books" routerLinkActive="active">Books</a>-->
    <!--</li>-->
    <li class="nav-item">
      <a class="nav-link" routerLink="/todo" routerLinkActive="active">Todo.ts</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>
